# See https://github.com/PyCQA/pylint/blob/master/pylintrc for possible options
[MASTER]
extension-pkg-whitelist=lxml,wand
max-line-length=120
disable=C0111,E0401,consider-using-f-string, too-many-instance-attributes,consider-using-dict-items
good-names=i,j,k,n,_,ga,bu,zo,meu
